hidden-card{
    display: none
}

@media screen and (max-width: 1200px) {
    #movie-card{
        width: 33%
    }
  }
  @media screen and (max-width: 990px) {
    #movie-card{
        width: 50%;
    }
  }
  @media screen and (max-width: 500px) {
    #movie-card{
        width: 100%;
    }
  }

  ;